html {
    font-family: Arial;
    /* display: inline-block; */
    text-align: center;

  
}
body {
  padding-bottom: 300px;
}

.stick {
  width: 300px;
  height: 300px;
  /* background-color: aquamarine; */
  position: relative;
  display: inline-block;
 
  
}
.horizontalLine {
  width: 100%;
  height: 100%;
  bottom: 50%;
  
  border-bottom: 2px solid rgba(95, 88, 88, 0.616);
  position: absolute;
  
  
}

.verticalLine {
  border-left: 2px solid rgba(95, 88, 88, 0.616);
  height: 100%;
  position: absolute;
  left:50%;
}

.circle {
  height: 30px;
  width: 30px;
  background-color: rgba(187, 187, 187, 1);
  border-radius: 50%;
  position: absolute;
  left:137px;
  top: 134px;
 
}

.progress{
  position: relative;
  transform: rotate(-90deg);
  height: 10%;
  top: 45%;
  left:60%;
  

}

.C{
  position: relative;
  height: 200px;
  
}


.pad > li{
  left: 100px;
  padding-left:20px;
  padding-right:20px;
}

#V {
  border:1px solid #d3d3d3;
}

.Meter {
  left: 30%;
  display: inline-block;
}

.Wraper {
  position: relative;
  overflow: auto;
  
 
}
.Wchild{
 
  
  
  border: 2px solid red;
}
